google-api-python-client
google-auth-httplib2
google-auth-oauthlib
langchain-google-genai
langchain
python-dotenv
jupyterlab
black

# pip install --upgrade google-api-python-client google-auth-httplib2 google-auth-oauthlib